{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-space-around">
        <a class="btn btn-warning" href="{% url 'passwordChange' %}">Update password</a>
        <a class="btn btn-warning" href="{% url 'resetPassword' %}">Reset password without old password</a>
    </div>
    <form method='post' style="width: 50%; margin: auto;">
        {% csrf_token %}
        <h3 class="m-3">Welcome to profile page.</h3>
        {{form | crispy}}
        <button class="btn btn-success">Update</button>
    </form>
{% endblock content %}